# .gitignore to include common ignored files across repositories generated with nku-course-template

#
# global - common across jetbrains products
#

# directory-based project configuration
.idea/

# file-based project configuration
*.iws
*.iml
*.ipr

# macos directory attribute configuration
**/.DS_Store



#
# build - build tool output and configuration
#

# gradle project cache
.gradle/

# gradle local environment properties
**/local.properties



#
# ide - scope to specific jetbrains products
#

# android studio - project build output
build/

# android studio - layout inspector capture output
captures/

# intellij - java project compilation
out/

# webstorm - dotenv environmental variable configuration
**/.env

# webstorm - package.json manifest generated via npm install
package-lock.json

# webstorm - dependency installation directory generated via npm install
node_modules/
